/* BASE LAYOUT */
html{
    margin: 0;
    padding: 0;
    height:100%;
}

body {
    margin: 0;
    padding: 0;
    height:100%;
}

.sidebar {
    position: fixed;
    top: 41px;
    bottom: 0px;
    padding: 20px 0px;
    border-radius: 0;
    margin: 0px;
    width: 180px;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    left: 0px;
    margin: 0px;
    width: 100%;
}

#main-content-container {
    display:block;
    padding: 0px;
    
}

.page-content-container {
    display:block;
    margin: 0;
    padding: 20px 20px 20px;
    min-height: 100%;
}

.workspace-content-container {
    display:block;
    position: relative;
    min-height: 100%;
    padding: 0;
    margin-left: 182px;
    margin-right: 0;
    margin-top: 41px;
}

.alert {
    border-radius: 0;
}

.map-container{
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 182px;
    top: 41px;
}

