/* BASE LAYOUT */
html{
    margin: 0;
    padding: 0;
    height:100%;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height:100%;
    background-color: #f1f2f6;
}

#sidebar {
    position: absolute;
    top: 0px;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    background-color: #ffffff;
}

.sidebar-wide{
    width: 200px;
}

.sidebar-narrow{
    width: 40px;
}

#loginForm {
    max-width: 222px;
    padding: 20px 30px 30px;
    margin: 0 auto 20px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#loginForm .controls{
    margin-left: 0px;
}

#workspace-navbar-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    background-color: #343e5e;
}

.workspace-navbar-wide {
    left: 40px;
}

.workspace-navbar-narrow {
    left: 200px;
}

#workspace-content-container {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0px;
    padding: 20px;
}

.workspace-wide{
    left: 40px;
}

.workspace-narrow{
    left: 200px;
}


#sidebar .nav-list {
    padding: 0;
}

#sidebar .nav-list > li {
    /*border-top: 1px solid #cfcfcf;*/
    line-height: 30px;
}

#sidebar .nav-list > li :hover {
    /*border-top: 1px solid #cfcfcf;*/
}

#sidebar-item:hover{
    background-color: #ffffff;
}

#sidebar > .nav-list > li:first-child {
    border-top: 0;
}

#sidebar .nav-list > li > a {
    padding-right: 15px;
    margin: 0;
}

#sidebar .nav-list .nav-list > li > a {
    padding-left: 30px;
    padding-right: 30px;
}

.alert {
    border-radius: 0;
}

.map-container{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 200px;
}

#add-candidates-tab-button{
	padding-top: 8px;
	padding-bottom: 8px;
	min-width: 131px;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 0;
	margin-bottom: 3px;
}

#main-content-container {
    width: 100%;
    height: 100%;
}

.form-horizontal .control-label {
    width: 130px;
}

.form-horizontal .controls {
    /*margin-left: 120px; default bootstrap difference is 20px*/
    margin-left: 140px;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.legend + .control-group {
    margin-top: 0;
}

.autocomplete{
    height: 40px;
}

.datepicker{
    z-index:1151;
    border: 1px solid #cccccc;
}

legend {
    font-size: 16px;
    margin-bottom: 10px;
}

.table th, .table td {
    line-height: 14px;
    vertical-align: middle;
}

table {
    background-color: #FFF;
}

.dark-font-navbar {
    color: #333333;
}

.navbar .brand {
    color: #333333;
}

.brand h4 {
    text-align: center;
}

.userpane {

}

.select2-container.input-xlarge{
    width: 284px;
}

#title-short {
    display: block;
    margin: 1px;
}

.page-title h4 {
    font-size: 28px;
}