/* BASE LAYOUT */
.body-navbar-fixed {
    padding-top: 43px;
}

.sidebar {
    position: fixed;
    top: 43px;
    bottom: 0;
    padding: 20px 0;
    margin: 0;
    width: 180px;
    border-radius: 0;
}

.content-container {
    margin-left: 182px;
}
