/* BASE LAYOUT */
.body-navbar-fixed {
    padding-top: 41px;
}

.sidebar {
	position: fixed;
    top: 41px;
    bottom: 0px;
    padding: 20px 0px;
    border-radius: 0;
    margin: 0px;
    width: 180px;
}

.main-content-container {
	position: relative;
    padding: 0;
	margin-top: 41px;
}

.page-content-container {
	margin: 0;
	padding: 20px 20px 20px;
}

.workspace-content-container {
	min-height: 100%;
	padding: 0;
	margin-left: 182px;
	margin-right: 0;
	margin-top: 0;
}

.alert {
	border-radius: 0;
}

